<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Tags populated from page YAML or site-wide meta data, if provided -->
		{% if description %}
		<meta name="description" content="{{ description }}" />
		{% elsif meta.site.description %}
		<meta name="description" content="{{ meta.site.description }}" />
		{% endif %}

		{% if og-title %}
		<meta property="og:title" content="{{ og-title }}" />
		{% elsif title %}			
		<meta property="og:title" content="{{ title }}" />
		{% elsif meta.og.title %}
		<meta property="og:title" content="{{ meta.og.title }}" />
		{% endif %}

		{% if og-url %}
		<meta property="og:url" content="{{ og-url}}" />
		{% elsif permalink %}
		<meta property="og:url" content="{{ permalink }}" />
		{% elsif meta.og.url %}
		<meta property="og:url" content="{{ meta.og.url }}" />
		{% endif %}

		{% if og-description %}
		<meta property="og:description" content="{{ og-description }}" />
		{% elsif description %}
		<meta property="og:description" content="{{ description }}" />
		{% elsif meta.og.description %}
		<meta property="og:description" content="{{ meta.og.description }}" />
		{% endif %}

		{% if og-image %}
		<meta property="og:image" content="{{ og-image }}" />
		{% elsif image %}
		<meta property="og:image" content="{{ image }}" />
		{% elsif meta.og.image %}
		<meta property="og:image" content="{{ meta.og.image }}" />
		{% endif %}
		
		{% if twitter-title %}
		<meta property="twitter:title" content="{{ twitter-title }}" />
		{% elsif title %}
		<meta property="twitter:title" content="{{ title }}" />
		{% elsif meta.twitter.title %}
		<meta property="twitter:title" content="{{ meta.twitter.title }}" />
		{% endif %}

		{% if twitter-description %}
		<meta property="twitter:description" content="{{ twitter-description }}" />
		{% elsif description %}
		<meta property="twitter:description" content="{{ description }}" />
		{% elsif meta.twitter.description %}
		<meta property="twitter:description" content="{{ meta.twitter.description }}" />
		{% endif %}

		{% if twitter-image %}
		<meta property="twitter:image" content="{{ twitter-image }}" />
		{% elsif image %}
		<meta property="twitter:image" content="{{ image }}" />
		{% elsif meta.twitter.image %}
		<meta property="twitter:image" content="{{ meta.twitter.image }}" />
		{% endif %}

		{% if twitter-card %}
		<meta property="twitter:card" content="{{ twitter-card }}" />
		{% elsif meta.twitter.card %}
		<meta property="twitter:card" content="{{ meta.twitter.card }}" />
		{% endif %}

		<link rel="stylesheet" type="text/css" media="screen" href="styles.css" />

		<title>{% if title %}{{ title }} | {% endif %} {{ meta.site.title }}</title>
	</head>

	<body>

		{{ content }}

		<script src="scripts.js"></script>
	</body>
</html>
